*{
	box-sizing: border-box;
}
body{
	height: 100vh;
	background-image: url('images/2.jpg');
	background-size: cover;
	margin: 0;
	background-position: center;
	font-family: 'Roboto', sans-serif;
	color: #333;
}
main{
	position: relative;
	margin: 0;
	padding: 0;
}
#document{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin-left: 200px;
}
h1{
  text-transform: uppercase;
  font-size: 70px;
  order: -1;
}
h1 span{
    color:#3498db;
    display: inline-block;
    background: black;
    margin-bottom: 5px;
    padding: 0 0.2em;
    transition: all .1s ease-in-out;
}
a.short{
	display: flex;
	flex-direction: row;
	background: #3498db;
	padding: 10px;
	margin-left: -207px;
	position: relative;
	top: -45px;
	text-decoration: none;
	color: #333;
	text-transform: uppercase;
	font-weight: 400;
	transition: all .1s ease-in-out;
}

a.short:hover{
	color: #3498db;
	background: black;
}
a > i{
	padding: 0 5px 0 10px;
}
a.short:hover ~ h1 span{
    color: #333;
    background: #3498db;
}










/*Modal CSS*/
#overlay{
  position: absolute;
  background: rgba(52, 152, 219,.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease-in-out;
}

#overlay.open{
	opacity: 1;
	pointer-events: auto;
}
#overlay.open #modal{
	transform: translate(0px, 0px);
}

#modal{
  transform: translate(0px, -100px);
  transition: all .5s cubic-bezier(0.25, 0.35, 0, 1.74);
  max-width: 600px;
  background: white;
  padding: 30px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.4);
  position: relative;
}
.ion-close-round{
	position: absolute;
    top: -40px;
    right: -40px;
    height: 30px;
    width: 30px;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}
.ion-close-round:hover{
	transform: scale(1.5);
	color: black;
}
.text{
	max-width: 50%;
	position: relative;
	margin: -20px 0 40px 0;
}
.text p.business{
	font-size: 18px;
	font-weight: bold;
}
.text > p{
	font-size: 14px;
}
form{
	position: relative;
    z-index: 2;
    padding: 20px;
    margin: 60px -30px -30px;
    display: flex;
	background: #2c3e50;
	padding: 20px 10px;
}
form > input{
	color: #444;
	height: 40px;
	margin: 0 5px;
	border: none;
	outline: none;
	font-family: 'Roboto', sans-serif;
}
input[type="text"]{
	flex: 1;
	padding:20px;
	border: none;
}
input[type="submit"]{
	text-transform: uppercase;
	background: #3498db;
	font-weight: 400;
	padding: 0 20px;
	cursor: pointer;
	color: white;
	letter-spacing: 1px;
	border: none;
}
input:focus{
    outline: none;
    box-shadow: 0px 0px 0px 1px #3498db inset;
 }
.image-presentation{
	background: url('images/presentation.png') top left;
    position: absolute;
    top: 0;
    right: 0;
    width: 256px;
    height: 100%;
}